.wrap
  header#wrapper
    video(src="../source/1.mp4" autoplay loop muted)
    .content
      .title
        h1 Tours of Kaohsiung 
        h5 高雄旅遊資訊
      .clearfix
      .exploreDist
        h2 探索一下
        ul.exploreDistList
        select#selectDist
      
      
    
  section#contain
    .list
      h2.distName 高雄熱門景點
      .distContent
        //- .distCard
        //-   .distHeader
        //-     h3 
        //-     p 
        //-   .distIntro
        //-     .time
        //-       h3.fas.fa-clock
        //-       p
        //-     .address
        //-       h3.fas.fa-map
        //-       p 
        //-     .tel
        //-       h3.fas.fa-phone-alt
        //-       p
        //-     .infor
        //-       h3.fas.fa-ticket-alt
        //-       p 請參考各地方官網訊息
    .goTop.far.fa-arrow-alt-circle-up
      h4 Back To Top
    ul.pages
      //- li
      //-   a(href="#").fas.fa-chevron-right.next

footer
  .travelNet 高雄旅遊網
  .travelSource 資料來源：高雄市政府

      
        
      